{% extends "_main.html" %}

{% block jscontent %}
  <script type='text/javascript' src='/assets/js/react.min.js'></script>
  <script type='text/javascript' src='/assets/js/react-dom.min.js'></script>
  <script type='text/javascript' src='/assets/js/reactive-elements.min.js'></script>
  <script type='text/babel' src='/assets/js/components/course-search-input.js'></script>
  <script type='text/javascript' src='/assets/js/babel.min.js'></script>
  <script type='text/javascript' src='https://code.jquery.com/jquery-2.1.4.min.js'></script>
  <script src="assets/js/bootstrap.min.js"></script>
  <script type='text/babel' src='/assets/js/components/project-task-list.js'></script>
  <script>
    window.tasks = {{ task_json|safe }};
    window.projects = {{ project_json|safe }};
  </script>
{% endblock %}

{% block maincontent %}

  <h1 id="bolded-title">Add a Course</h1>

  <div id='course-search-input'></div>

  <!--
  <form method='POST' action='/courses'>
    <div class='form-group'>
      <label for='courseTitleInput'><h3 id="bolded-title">New Course Name</h3></label>
      <input type='text' class='form-control' id='courseTitleInput' placeholder='name of course' name='title' />
    </div>
    <button type='submit' class='btn btn-primary'>add course</button>
  </form>
  -->

{% endblock %}

