{% extends "_base.html" %}
{% block bodycontent %}

  <h2>Due Soon</h2>

  <ul class='task-list'>
    <li class='task'>
      <input type='checkbox' />This is some task
    </li>
  </ul>

  <h2>Current Projects</h2>

  <div class='projects'>
    <div class='project'>
      <h3>Some Project</h3>
      <ul class='task-list'>
        <li class='task'>
          <input type='checkbox'> This is some task
        </li>
        <li class='task'>
          <input type='checkbox'> This is some other task
        </li>
      </ul>
    </div>
    <div class='project'>
      <h3>Some Project</h3>
      <ul class='task-list'>
        <li class='task'>
          <input type='checkbox'> This is some task
        </li>
        <li class='task'>
          <input type='checkbox'> This is some other task
        </li>
      </ul>
    </div>
    <div class='project'>
      <h3>Some Project</h3>
      <ul class='task-list'>
        <li class='task'>
          <input type='checkbox'> This is some task
        </li>
        <li class='task'>
          <input type='checkbox'> This is some other task
        </li>
      </ul>
    </div>
    <div class='project'>
      <h3>Some Project</h3>
      <ul class='task-list'>
        <li class='task'>
          <input type='checkbox'> This is some task
        </li>
        <li class='task'>
          <input type='checkbox'> This is some other task
        </li>
      </ul>
    </div>
    <div class='project'>
      <h3>Some Project</h3>
      <ul class='task-list'>
        <li class='task'>
          <input type='checkbox'> This is some task
        </li>
        <li class='task'>
          <input type='checkbox'> This is some other task
        </li>
      </ul>
    </div>
    <div class='project'>
      <h3>Some Project</h3>
      <ul class='task-list'>
        <li class='task'>
          <input type='checkbox'> This is some task
        </li>
        <li class='task'>
          <input type='checkbox'> This is some other task
        </li>
      </ul>
    </div>
  </div>

{% endblock %}
