{% extends "_base.html" %}
{% block bodycontent %}

    <div id="login_top">
      <div id="login_title">
        ctrl-class
      </div>
    </div>

    <div id="divider_top"></div>

    <div id="login_form">
      <form>
          <br> LOGIN: <br> <input id="login_textbox" type="text" name="login" onkeydown="if (event.keyCode == 13) document.getElementById('login_button').click()"><br><br>
          PASSWORD: <br> <input id="login_textbox" type="password" name="pass" onkeydown="if (event.keyCode == 13) document.getElementById('login_button').click()"><br><br>
          <input id="login_button" type="button" value="Submit" onclick="location.href='home.html'">
      </form>
    </div>

    <div id="divider_bottom"></div>

    <div id="login_bottom">
      Team AAASTrix 2015
    </div>
{% endblock %}
