{% extends "_base.html" %}
{% block bodycontent %}
  <div id="login_top">
    <div id="login_title">
      ctrl-class
    </div>
  </div>

  <div id="divider_top"></div>

  <div id="login_form">
  	<div id="pad-space">
  	</div
    <form>
      <a href='{{ login_url }}' id="login_button" >Log In with Google</a>
    </form>
  </div>

  <div id="divider_bottom"></div>

  <div id="login_bottom">
			<div id="wrapper">
  				<div id="social">&#62220;</div>
  				<div id="social">&#62217;</div>
  				<div id="social" onclick="location.href='https://plus.google.com/';">&#62223;</div>
  				<div id="social" onclick="location.href='https://www.linkedin.com/';">&#62232;</div>
			</div>
  </div>
{% endblock %}
