{% extends "_main.html" %}

{% block jscontent %}
  <script type='text/javascript' src="//cdnjs.cloudflare.com/ajax/libs/document-register-element/0.5.3/document-register-element.js">/* W3C Custom Elements */</script>
  <script type='text/javascript' src='/assets/js/react.min.js'></script>
  <script type='text/javascript' src='/assets/js/react-dom.min.js'></script>
  <script type='text/javascript' src='/assets/js/reactive-elements.min.js'></script>
  <script type='text/javascript' src='/assets/js/babel.min.js'></script>
  <script type='text/javascript' src='https://code.jquery.com/jquery-2.1.4.min.js'></script>
  <script src="assets/js/bootstrap.min.js"></script>
  <script type='text/babel' src='/assets/js/components/project-task-list.js'></script>
  <script>
    window.tasks = {{ task_json|safe }};
    window.project = { key: '{{ project_key|safe }}' };
  </script>
{% endblock %}

{% block maincontent %}

  <h1>{{ project.title }}</h1>

  <h2>Tasks</h2>

  <task-list tasks="{window.tasks}" project="{window.project}"></task-list>

  <form method='POST' action='/project/add_task?project_key={{ project_key }}'>
    <input type='text' id="course-box" name='title' placeholder='Create a new task'/>
	<input type='submit' value='Create'/>
  </form>

  <h2>Members</h2>
    <div id="list">
        <ul>
        {% for member in project.members %}
        <li>
        {{ member.email }}
        </li>
        {% endfor %}
        </ul>
    </div>

  <form method='POST' action='/project/members?project_key={{ project_key }}'>
    <input type='text' id="course-box" name='email' placeholder='Add a new group member'/>
  </form>

    <a style="color: red;"
     onclick="return confirm('Are you sure you want to remove yourself from this project?');"
     href='/projects/remove?key={{ project_key }}'
     >
    Remove this Project
  </a>

{% endblock %}
