{% extends "_main.html" %}

{% block jscontent %}
  <script type='text/javascript' src='/assets/js/react.min.js'></script>
  <script type='text/javascript' src='/assets/js/react-dom.min.js'></script>
  <script type='text/javascript' src='/assets/js/reactive-elements.min.js'></script>
  <script type='text/javascript' src='/assets/js/babel.min.js'></script>
  <script type='text/javascript' src='https://code.jquery.com/jquery-2.1.4.min.js'></script>
  <script src="assets/js/bootstrap.min.js"></script>
  <script type='text/babel' src='/assets/js/components/project-task-list.js'></script>
  <script>
    window.tasks = {{ task_json|safe }};
  </script>
{% endblock %}

{% block maincontent %}

  <h1>{{ course.title }} </h1>

  <h2>{{ project.title }}</h2>

  <h2>Tasks</h2>

  <task-list tasks="{window.tasks}"></task-list>

  <form method='POST' action='/project/add_task?project_key={{ project_key }}'>
    <input type='text' name='title' placeholder='Create a new task'/>
  </form>

  <h2>Members</h2>
    <div id="list">
        <ul>
        {% for member in project.members %}
        <li>
        {{ member.email }}
        </li>
        {% endfor %}
        </ul>
    </div>

  <form method='POST' action='/project/members?project_key={{ project_key }}'>
    <input type='text' name='email' placeholder='Add a new group member'/>
  </form>

{% endblock %}
